<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Stock Page</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a>Stocks</a>
        <input>
        <button>Enter</button>
    </nav>
    <h2 id="stockName">{{ name }}</h2>
    
    <br>
    <p id="price" >Price: $<span id="priceNum">{{ price }}</span></p>
    <button onclick="inc()">Click</button>

   <script>
    function inc() {
        document.getElementById("priceNum").textContent = parseFloat(document.getElementById("priceNum").textContent) + 1;
    }
    
   </script>
</body>
</html>